.navigation-menu {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 145px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a3e635;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #a3e635;
}
